<style>
    #info {
        height: 301px;
    }
    
    .input-group-append:hover {
        cursor: pointer;
    }
</style>
<div class="app-body mt-5 animated fadeIn">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-md-6 mx-auto mb-2">

                    <div class="card-group">
                        <div class="card p-4">
                            <img class="img-header" src="assets/img/header1.png" alt="">
                        </div>
                    </div>
                    <div class="card-group mt-2">
                        <div class="card bg-info p-4">
                            <div id="info">
                                <h3>we need your real info so be awarense</h3>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <div class="card ">
                        <div class="card-body ">
                            <!-- <h1>{{ 'REGISTERTITLE' | translate }}</h1>-->
                            <h4 class="text-muted"><i class="icon-plus mx-2"></i> {{ 'BOOKDETIALS' | translate }}</h4>
                            <hr class="my-2">
                            <form #formBook="ngForm" id="registerForma" class="container">
                                <div class="row">
                                    <div class="col-md-12 py-0">
                                        <label for="name" class="mb-1">{{ 'FULLNAME' |  translate }}</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{ NameRecieption }}" placeholder="" autocomplete="Username" disabled required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="name" class="mb-1">{{ 'STATE' |  translate }}</label>
                                        <div class="input-group mb-2">
                                            <select class="form-control p-1" #States name="stateid" (click)="getCitiesByState(States.value)" autocomplete="new-password" required>
                                                    <option *ngFor="let state of statesData" value="{{ state.id }}" >{{ state.nameen }}</option>
                                               
                                                </select>
                                        </div>

                                        <label for="name" class="mb-1">{{ 'CITIES' |  translate }}</label>
                                        <div class="input-group mb-2">
                                            <select class="form-control p-1" #Cities autocomplete="new-password" (click)="getLocalBycity(Cities.value)" required>
                                                    <option *ngFor="let city of citiesData" value="{{ city.id }}">{{ city.nameen }}</option>
                                                </select>
                                        </div>

                                        <label for="name" class="mb-1">{{ 'LOCALAREA' |  translate }}</label>
                                        <div class="input-group ">
                                            <select class="form-control p-1" #Locals autocomplete="new-password" (click)="getUnitByLocal(Locals.value)" required>
                                                        <option *ngFor="let locality of localitiesData" value="{{ locality.id }}">{{ locality.nameen }}</option>
                                                </select>
                                        </div>

                                    </div>

                                    <div class="col-md-6">
                                        <label for="name" class="mb-1 w-100 mr-auto">{{ 'CENTERS' |  translate }}  <small style="color: tomato; float: left; cursor: pointer; " (click)="getCenterDetails(healthunitid.value)"> {{ 'CENTDET' |  translate }} <i class="icon-info"></i></small></label>
                                        <div class="input-group  mb-2">
                                            <select class="form-control p-1" name="healthunitid" #healthunitid="ngModel" [(ngModel)]="service.bookingDetails.healthunitid" autocomplete="new-password" required>
                                                   
                                                    <option *ngFor="let center of CentersData" value="{{ center.id }}">{{ center.nameen }}</option>
                                                </select>
      
                                        </div>

                                        <label for="name" class="mb-1">{{ 'DOSEN' |  translate }}</label>
                                        <div class="input-group mb-2">
                                            <select class="form-control p-1" name="vaccineid" #vaccineid="ngModel" [(ngModel)]="service.bookingDetails.vaccineid" autocomplete="new-password" required>
                                                <ng-container *ngIf="lang === 'ar'">
                                                <option *ngFor="let vaccine of vaccinesData" value="{{ vaccine.id }}">{{ vaccine.name }}</option>
                                                </ng-container>
                                                <ng-container *ngIf="lang === 'en'">
                                                    <option *ngFor="let vaccine of vaccinesData" value="{{ vaccine.id }}">{{ vaccine.nameen }}</option>
                                                </ng-container>
                                     
                                            </select>
                                        </div>

                                        <label for="name" class="mb-1">{{ 'DOSET' |  translate }}</label>
                                        <div class="input-group">
                                            <select class="form-control p-1" name="dosenumber" #dosenumber="ngModel" [(ngModel)]="service.bookingDetails.dosenumber" autocomplete="new-password" required>
                                            
                                                <option value="1">{{ 'DOSE1' |  translate }}</option>
                                                <option value="2">{{ 'DOSE2' |  translate }}</option>
                                            </select>

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 py-0">

                                        <label class="d-flex">{{ 'ATTDATE' | translate }} <small [ngClass]="{'mr-auto float-left':true, 'errorValidationMessage' : classInvalid}" [hidden]="!classInvalid"> {{ 'VALIDDATE' | translate }} </small></label>

                                        <div class="input-group">
                                            <input type="date" [ngClass]="{'form-control': true ,'classInvalidRegist' : classInvalid}" name="bookingdate" #bookingdate="ngModel" [(ngModel)]="service.bookingDetails.bookingdate" (change)="checkDate(bookingdate.value)" autocomplete="username" required>

                                        </div>
                                    </div>
                                    <div class="col-md-6 py-0">

                                        <label class="d-flex">{{ 'ATTTIME' | translate }} <small [ngClass]="{'mr-auto float-left':true, 'errorValidationMessage' : classInvalid}"></small></label>
                                        <div class="input-group">
                                            <input type="time" [ngClass]="{'form-control': true , 'classInvalidRegist' : classInvalid}" name="bookinghour" #bookinghour (change)="getHours(bookinghour.value)" id="appt" min="09:00" max="18:00" required>

                                        </div>
                                    </div>

                                </div>

                                <div class="row mt-3">

                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                                        <button type="button" class="btn btn-block btn-info">{{ 'HOME' |
                                                translate }}</button>

                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button type="button" (click)="onSaveRecords(formBook)" class="btn btn-block btn-success" [disabled]="formBook.invalid">{{ 'BOOKBTN' |
                                                translate }}<i class="fa fa-check m1-3"></i></button>

                                    </div>

                                </div>
                            </form>

                        </div>

                    </div>

                    <!-- Nav tabs -->


                </div>
            </div>
        </div>
    </main>

    <div bsModal #UnitDetails="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-info modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body bg-default">
                    <h4 class="modal-title">{{this.centerDetails.nameen}} <span class="badge badge-danger badge-pill  ml-auto">{{this.centerDetails.capacity}}</span>
                    </h4>
                    <hr>
                    <p>{{ 'WORKDAYS' | translate }} {{this.centerDetails.fromday}} - {{this.centerDetails.today}}</p>
                    <p>{{ 'WORKHOURS' | translate }} {{this.centerDetails.fromhour}} - {{this.centerDetails.tohour}}</p>
                    <h3><i class="icon-phone"></i> {{this.centerDetails.fromhour}}</h3>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary m-2" (click)="UnitDetails.hide()">Close</button>


                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>