<style>
    #info {
        height: 283px;
    }
</style>
<div class="app-body mt-5 animated fadeIn">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">

                <div class="col-md-6 mx-auto mb-2">

                    <div class="card-group">
                        <div class="card p-4">
                            <img class="" src="assets/img/header1.png" alt="">
                        </div>
                    </div>
                    <div class="card-group mt-2">
                        <div class="card bg-info p-4">
                            <div id="info">
                                <h3>we need your real info so be awarense</h3>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <div class="card ">
                        <div class="card-body ">
                            <!-- <h1>{{ 'REGISTERTITLE' | translate }}</h1>-->
                            <h4 class="text-muted"><i class="icon-plus mx-2"></i> {{ 'BOOKDETIALS' | translate }}</h4>
                            <hr class="my-2">
                            <form #formRegister="ngForm" id="registerForma" class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="name" class="mb-1">{{ 'NATID' |  translate }}</label>
                                        <div class="input-group  mb-2">
                                            <input type="text" class="form-control" placeholder="" autocomplete="Username" required>
                                        </div>

                                        <label for="name" class="mb-1">{{ 'LOCALAREA' |  translate }}</label>
                                        <div class="input-group mb-2">
                                            <select class="form-control p-1" autocomplete="new-password" required>
                                                   
                                                        <option *ngFor="let locality of localitiesData" value="">{{ locality.nameen }}</option>
                                                </select>
                                        </div>

                                        <label for="name" class="mb-1">{{ 'DOSEN' |  translate }}</label>
                                        <div class="input-group ">
                                            <select class="form-control p-1" autocomplete="new-password" required>
                                               
                                                <option *ngFor="let vaccine of vaccinesData" value="">{{ vaccine.nameen }}</option>
                                     
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="name" class="mb-1">{{ 'STATE' |  translate }}</label>
                                        <div class="input-group mb-2">
                                            <select class="form-control p-1" name="stateid" autocomplete="new-password" (change)="getCitiesByState(stateid.value)" required>
                                                    <option *ngFor="let state of statesData" value="{{ state.id }}">{{ state.nameen }}</option>
                                               
                                                </select>
                                        </div>

                                        <label for="name" class="mb-1">{{ 'CENTERS' |  translate }}</label>
                                        <div class="input-group mb-2">
                                            <select class="form-control p-1" autocomplete="new-password" required>
                                                   
                                                    <option *ngFor="let center of statesData" value="">{{ center.nameen }}</option>
                                                </select>
                                        </div>

                                        <label for="name" class="mb-1">{{ 'DOSET' |  translate }}</label>
                                        <div class="input-group">
                                            <select class="form-control p-1" autocomplete="new-password" required>
                                            
                                                <option value="">Dose 1</option>
                                                <option value="">Dose 2</option>
                                            </select>

                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="name" class="mb-1">Chronic Disease</label>
                                        <div class="input-group ">
                                            <ng-select class="form-control p-0 border-0" style="border: 0px solid #eee;" name="chronicDisease" [items]="list" bindLabel="name" placeholder="" appendTo="body" [multiple]="true">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 ">

                                        <label class="">{{ 'ATTDATE' | translate }}</label>

                                        <div class="input-group">
                                            <input type="date" class="form-control" autocomplete="username" required>
                                            <input type="time" class="form-control" id="appt" name="appt" min="09:00" max="18:00" required>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button type="button" class="btn btn-block btn-info" (click)="stepper.reset()"><i class="fa fa-arrow-left mr-3"></i>{{ 'Back' |
                                                translate }}</button>

                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <button type="button" routerLink="/dataentry" class="btn btn-block btn-success">{{ 'BOOKBTN' |
                                                translate }}<i class="fa fa-check ml-3"></i></button>

                                    </div>

                                </div>
                            </form>

                        </div>

                    </div>

                    <!-- Nav tabs -->


                </div>
            </div>
        </div>
    </main>
</div>