<style>
    #info {
        height: 385px;
    }
</style>
<div class="app-body animated fadeIn">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto mb-1">
                    <div class="card-group">
                        <div class="card p-4">
                            <img class="" src="assets/img/header1.png" alt="">
                        </div>
                    </div>
                    <div class="card-group mt-2">
                        <div class="card bg-info p-4">
                            <div id="info" class="text-center">
                                <h3>تسجيل بياناتك !</h3>
                                <hr> تسجيل البيانات تسهل للمستخدم من متابعة الاجراءات اللازمه في التطبيق
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <div class="card ">
                        <div class="card-body ">
                            <!-- <h1>{{ 'REGISTERTITLE' | translate }}</h1>-->
                            <h4 class="text-muted"><i class="icon-plus mx-2"></i> {{ 'REGISTERDETAILS' | translate }}</h4>
                            <hr class="my-2">
                            <form #formRegister="ngForm" id="registerForma" class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="name" class="mb-1">{{ 'FULLNAME' |  translate }}</label>
                                        <div class="input-group ">

                                            <input type="text" class="form-control" placeholder="" autocomplete="username" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="name" class="mb-1">{{ 'NATID' |  translate }}</label>
                                        <div class="input-group  mb-1">
                                            <input type="text" class="form-control" placeholder="" autocomplete="new-password" required>
                                        </div>
                                        <label for="name" class="mb-1">{{ 'NATIONALITY' |  translate }}</label>

                                        <div class="input-group  mb-1">
                                            <select class="form-control p-1" autocomplete="new-password" required>
                                                <option value="" selected disabled></option>
                                                <option value="">Sudanese</option>
                                                <option value="">Others</option>
                                            </select>
                                        </div>
                                        <label for="name" class="mb-1">{{ 'Identity Type' |  translate }}</label>

                                        <div class="input-group  mb-1">
                                            <select class="form-control p-1" autocomplete="new-password" required>
                                                <option value="" selected disabled></option>
                                                <option value="">Passbord</option>
                                                <option value="">National ID</option>
                                            </select>
                                        </div>
                                        <label for="name" class="mb-1">{{ 'DOB' |  translate }}</label>
                                        <div class="input-group  mb-1">

                                            <input type="date" class="form-control" placeholder="" onfocus="(this.type='date')" autocomplete="username" required>

                                        </div>
                                        <label for="name" class="mb-1">{{ 'GENDER' | translate }}</label>

                                        <div class="input-group  mb-1">
                                            <select class="form-control p-1" autocomplete="new-password" required>
                                                    <option value="">male</option>
                                                    <option value="">female</option>
                                                </select>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <label for="name" class="mb-1">{{ 'PHONE' |  translate }}</label>
                                        <div class="input-group  mb-1">

                                            <input type="text" class="form-control" placeholder="" autocomplete="username" required>
                                        </div>
                                        <label for="name" class="mb-1">{{ 'EMAIL' | translate }}</label>
                                        <div class="input-group  mb-1">

                                            <input type="text" name="repasswordcheck" class="form-control" placeholder="" autocomplete="new-password" required>
                                        </div>
                                        <label for="name" class="mb-1">{{ 'REGISTPASS' | translate }}</label>
                                        <div class="input-group mb-1">
                                            <input type="password" class="form-control" placeholder="" autocomplete="new-password" name="password" #name="ngModel" [(ngModel)]="service.registerDetails.password" required>

                                        </div>

                                        <label for="name" class="mb-1">{{ 'REGISTREPPASS' | translate }}</label>
                                        <div class="input-group mb-1">

                                            <input type="text" name="repasswordcheck" [ngClass]="{'form-control': true, 'classInvalid': classInvalid}" placeholder="" [(ngModel)]="repasswordcheck" autocomplete="new-password" required>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">


                                </div>
                                <div class="row d-flex justify-content-end">
                                    <button type="button" data-toggle="modal" (click)="onSaveRecords(formRegister)" [disabled]="formRegister.invalid" class="btn btn-block btn-success">{{ 'REGISTERBTN' | translate }}</button>
                                    <button type="button" routerLink="/login" class="btn btn-block btn-link px-0">{{ 'HAVEACCOUNT' | translate }}</button>
                                </div>
                            </form>
                            <form>




                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div bsModal #ContinuBookig="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">تم تسجيل بياناتك</h4>

            </div>
            <div class="modal-body">
                <p>{{ 'REGISTUSERNAME' | translate }} : welcome {{ service.registerDetails.nameen }} you are registred now , you can choose your nerby center and book a day to take your vaccien </p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ml-2" (click)="ContinuBookig.hide()">اغلاق</button>
                <button type="button" routerLink="/patientdata" class="btn btn-success">متابعة</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->