<style>
    #info {
        height: 430px;
        overflow: hidden; 
        padding:0px !important;
         border-radius:10px;
    }
    .slide {
        height: 400px !important;
    }
</style>
<div class="app-body animated fadeIn">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto mb-1">
                    <div class="card-group">
                        <div class="card p-4">
                            <img class="img-header" src="assets/img/header1.png" alt="">
                        </div>
                    </div>
                    <div class="card-group mt-2">
                        <div class="card" style="background-color: transparent;">
                            <div id="info" class="text-center" >
                              
                                 <carousel [interval]="3000" >
                                    <slide>
                                        <img src="../../../assets/img/CornaBg.jpg" alt="First slide" style="display: block; width: 100%; ">  <div class="carousel-caption d-none d-md-block">
                                        <h3>First slide label</h3>
                                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                      </div>
                                    </slide>
                                    <slide>
                                      <img src="https://picsum.photos/id/1036/900/750" alt="Second slide" style="display: block; width: 100%;">
                                      <div class="carousel-caption d-none d-md-block">
                                        <h3>Second slide label</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                      </div>
                                    </slide>
                                    <slide>
                                      <img src="https://picsum.photos/id/1043/900/750" alt="Third slide" style="display: block; width: 100%;">
                                      <div class="carousel-caption d-none d-md-block">
                                        <h3>Third slide label</h3>
                                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                      </div>
                                    </slide>
                                  </carousel>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <div class="card ">
                        <div class="card-body ">
                            <!-- <h1>{{ 'REGISTERTITLE' | translate }}</h1>-->
                            <h4 class="text-muted"><i class="icon-user mx-2"></i> {{ 'RECEPTDETAILS' | translate }}</h4>
                            <form #formRegister="ngForm" id="registerForma" class="container mt-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="name" class="mb-1">{{ 'FULLNAME' |  translate }}</label>
                                        <div class="input-group ">
                                            <input type="text" name="nameen" #nameen="ngModel" [(ngModel)]="service.recieptiestDetails.nameen" class="form-control" autocomplete="username" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="name" class="mb-1">{{ 'FULLNAME' |  translate }} (Arabic)</label>
                                        <div class="input-group ">

                                            <input type="text" name="name" #name="ngModel" [(ngModel)]="service.recieptiestDetails.name" class="form-control" autocomplete="username" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="name" class="mb-1">{{ 'NATIONALITY' |  translate }}</label>
                                        <div class="input-group  mb-1">
                                            <select [ngClass]=" {'form-control' : true , 'p-1' : true , 'filled' : isFilled }" name="nationalityid" #nationalityid="ngModel" [(ngModel)]="service.recieptiestDetails.nationalityid" autocomplete="new-password" required>
                                                <option value="1">{{ 'SUDANESE' |  translate }}</option>
                                                <option value="2">{{ 'FORIEGN' |  translate }}</option>
                                            </select>
                                        </div>

                                        <label for="name" class="mb-1">{{ 'IDENTYPE' |  translate }}</label>
                                        <div class="input-group  mb-1">
                                            <select class="form-control p-1" name="identificationdetailid" #identificationdetailid="ngModel" [(ngModel)]="service.recieptiestDetails.identificationdetailid" (change)="checkLIdendityID(nationalnumber.value ,identificationdetailid.value)" autocomplete="new-password"
                                                required>
                                                <option *ngFor="let idtype of IdTypes"  value="{{ idtype.id }}">{{ idtype.name }}</option>
                                                
                                            </select>
                                        </div>

                                        <label for="name" class="d-flex mb-1">{{ 'NATID' |  translate }} <small class="mr-auto float-right errorValidationMessage" [hidden]="classInvalidIdendityID"> {{validIdendityID }}</small></label>
                                        <div class="input-group  mb-1">
                                            <input type="text" [ngClass]="{'form-control': true , 'classInvalidRegist' : classInvalidIdendityID}" name="nationalnumber" #nationalnumber="ngModel" [(ngModel)]="service.recieptiestDetails.nationalnumber" (change)="checkLIdendityID(nationalnumber.value ,identificationdetailid.value)"
                                                autocomplete="new-password" required>
                                        </div>

                                        <label for="name" class="mb-1">{{ 'DOB' |  translate }}</label>
                                        <div class="input-group mb-1">
                                            <input bsDatepicker type="text" class="form-control" name="dateofbirth" #dateofbirth="ngModel" [(ngModel)]="service.recieptiestDetails.dateofbirth" value="1996-06-08" autocomplete="username" required>
                                        </div>

                                        <label for="name" class="mb-1">{{ 'CHRONIC' |  translate }}</label>
                                        <div class="input-group ">
                                            <ng-select class="form-control p-0 border-0" style="border: 0px solid #eee;" name="chronicDisease" [items]="list" bindLabel="name" appendTo="body" [multiple]="true">
                                            </ng-select>
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <label for="name" class="d-flex mb-1">{{ 'PHONE' |  translate }} <small class="mr-auto float-left errorValidationMessage " [hidden]="!classInvalidPhone"> {{ 'VALIDPHONE' |  translate }}</small></label>
                                        <div class="input-group  mb-1">
                                            <input type="number" [ngClass]="{'form-control': true , 'classInvalidRegist' : classInvalidPhone}" name="mobilenumber" #mobilenumber="ngModel" [(ngModel)]="service.recieptiestDetails.mobilenumber" (change)="checkPhone(mobilenumber.value)" autocomplete="username"
                                                required>
                                        </div>

                                        <label for="name" class="d-flex mb-1">{{ 'EMAIL' | translate }} <small class="mr-auto float-left errorValidationMessage" [hidden]="!classInvalidEmail">{{ 'VALIDEMAIL' | translate }}</small></label>
                                        <div class="input-group  mb-1">
                                            <input type="email" [ngClass]="{'form-control': true , 'classInvalidRegist' : classInvalidEmail}" name="email" #email="ngModel" [(ngModel)]="service.recieptiestDetails.email" (change)="checkEmail(email.value)" autocomplete="new-password" required>
                                        </div>

                                        <label for="name" class="mb-1">{{ 'GENDER' | translate }}</label>
                                        <div class="input-group  mb-1">
                                            <select class="form-control p-1" name="gender" #gender="ngModel" [(ngModel)]="service.recieptiestDetails.gender" autocomplete="new-password" required>
                                                    <option value="Male">{{ 'MALE' | translate }}</option>
                                                    <option value="Female">{{ 'FEMALE' | translate }}</option>
                                                </select>
                                        </div>

                                        <label for="name" class="mb-1">{{ 'REGISTPASS' | translate }}</label>
                                        <div class="input-group mb-1">
                                            <input type="text" class="form-control" autocomplete="new-password" name="password" #password="ngModel" [(ngModel)]="service.recieptiestDetails.password" (change)="checkRetypePassword(repasswordcheck.value)" required>
                                        </div>

                                        <label for="name" class="d-flex mb-1">{{ 'REGISTREPPASS' | translate }} <small class="mr-auto float-left errorValidationMessage" [hidden]="!classInvalidPass"> {{ 'VALIDREGISTREPPASS' | translate }}</small></label>
                                        <div class="input-group mb-1">
                                            <input type="text" name="repasswordcheck" #repasswordcheck [ngClass]="{'form-control': true, 'classInvalidRegist': classInvalidPass}" (change)="checkRetypePassword(repasswordcheck.value)" autocomplete="new-password" required>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 py-0">

                                    </div>
                                </div>

                                <div class="row d-flex justify-content-end">
                                    <button type="button" data-toggle="modal" (click)="onSaveRecords(formRegister)" [disabled]="formRegister.invalid" class="btn btn-block btn-success">{{ 'REGISTERBTN' | translate }}</button>
                                    <button type="button" routerLink="/login-public" class="btn btn-block btn-link px-0">{{ 'HAVEACCOUNT' | translate }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div bsModal #ContinuBookig="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body bg-success">
                <h4 class="modal-title">تمت بنجاح :</h4>
                <hr>
                <p>لقد تم تسجيل بياناتك بنجاح يمكنك الان متابعة الخطوات باجراء الحجز واخذ اللقاح</p>
                <div class="d-flex justify-content-start">
                    <button type="button" class="btn btn-secondary ml-2" routerLink="/login-public" (click)="ContinuBookig.hide()">لاحقا</button>
                    <button type="button" routerLink="/patientdata" class="btn btn-success">متابعة</button>

                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->