<style>
    #main {
        margin-top: 110px;
    }
    
    a:hover {
        cursor: pointer;
    }
</style>
<div class=".container-fluid animated fadeIn">
    <div id="header" class="fixed-top">

        <div class="d-flex justify-content-left">
            <img class=" mr-auto" src="assets/img/headerlogo.png" alt="">
            <nav class="navbar navbar-expand-md navbar-light bg-none ">

                <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="#"><i class="icon-map mx-2"></i>Center <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown" dropdown>
                            <a id="link-dropdown" class="nav-link dropdown-toggle" href dropdownToggle (click)="false" aria-controls="your-dropdown"><i class="icon-user mx-2"></i> User Name
                            </a>
                            <div id="your-dropdown" class="dropdown-menu animated fadeIn" aria-labelledby="link-dropdown" *dropdownMenu>
                                <a class="dropdown-item" style="color: black!important;" href="#"><i
                                        class="icon-screen-desktop mx-2"></i>Employee Panel</a>
                                <a class="dropdown-item" style="color: black!important;" href="#"><i
                                        class="icon-logout mx-2"></i>Log Out</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div id="main" class="">
        <div class="card p-4 ">
            <div class="alert alert-warning container-fluid">
                <div class="row mt-1">
                    <div class="">
                        <p><b>Regisertation Form</b></p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="d-lg-block d-none navbar-toggler">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="">
                        <p> <b>Number of Registration Today :
                                <span class="badge badge-danger badge-pill">136</span></b>
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="card row">
                    <div class="card-body col-md-11 mx-auto">
                        <div class="row">
                            <div class="col-md-6">
                                <h4> <b>Service Recieptions in wait</b></h4>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <form action="" method="post" class="form-inline">
                                    <div class="form-group">
                                        <input #filterBy type="email" id="if-email" name="if-email" class="form-control m-1" placeholder="Search by Username or ID" (change)="filterBy.value?getUser(filterBy.value):allUers() " autocomplete="email" required>
                                        <button type="button" data-toggle="modal" (click)="searchEmpty?allUers() : getUser(filterBy.value)" class="btn  btn-info">search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <table class="table table-sm table-bordered">
                                <thead class="bg-info  ">
                                    <tr class="text-center mt-2">
                                        <th> ID</th>
                                        <th>Full Name Arabic</th>
                                        <th>Vaccine needed</th>
                                        <th>Date registered</th>
                                        <th>Preview</th>
                                        <th>Update</th>
                                        <th>Delete</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let serviceReciep of serviceReciepsData" class="text-center animated fadeIn">
                                        <td>{{serviceReciep.id}}</td>
                                        <td>{{serviceReciep.nameen}}</td>
                                        <td>{{serviceReciep.vaccineNameAr}}</td>
                                        <td>{{serviceReciep.bookingdate | date:'mediumDate'}}</td>
                                        <td><button class="btn btn-outline-info p-1 h-50" (click)="showDataUser(user)"><i class="fa fa-address-card-o" ></i> Preview</button></td>
                                        <td><button class="btn btn-outline-success  p-1 h-50" (click)="fillForm(user)"><i class="fa fa-check"></i> Confirm</button></td>
                                        <td><button class="btn btn-danger  p-1 h-50" (click)="onDelete(user.id)"><i class="fa fa-trash" ></i> Delete</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex align-content-end mx-auto">
                                <ul class="pagination">
                                    <li class="page-item "><a class="page-link bg-info " (click)="counterMinus()"><i class="fa fa-chevron-left"></i> Prev </a></li>
                                    <li class="page-item "><a class="page-link bg-info " (click)="counterPlus()"> Next <i class="fa fa-chevron-right"></i></a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>