<style>
    #main {
        margin-top: 110px;
        border-top: 5px solid #ddd;
        border-bottom: 5px solid #ddd;
    }
    
    #Statics .card {
        transition: top 0.7s;
        top: 0px;
    }
    
    #Statics .card:hover {
        top: 10px;
    }
    
    table {
        transition: background-color 0.5s;
    }
    
    table tr {
        height: 25px !important;
        transition: all 0.5s;
    }
    
    table tr:hover {
        cursor: pointer;
        background-color: #eee;
    }
    
    a:hover {
        cursor: pointer;
    }
    
    .form-inline button,
    .form-inline input {
        height: 30px !important;
        padding: 5px;
    }
    /*  #searchArea {
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 0px 0px 15px #ccc;
    }*/
</style>
<div class="container-fluid animated fadeIn">
    <div id="header" class="fixed-top">

        <div class="d-flex justify-content-left">
            <img class=" mr-auto" src="assets/img/headerlogo.png" alt="">
            <nav class="navbar navbar-expand-md navbar-light bg-none ">

                <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="#"><i class="icon-map mx-2"></i>Center <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown" dropdown>
                            <a id="link-dropdown" class="nav-link dropdown-toggle" dropdownToggle (click)="false" aria-controls="your-dropdown"><i class="icon-user mx-2"></i> {{ NameRecieption }}
                            </a>
                            <div id="your-dropdown" class="dropdown-menu animated fadeIn" aria-labelledby="link-dropdown" *dropdownMenu>
                                <a class="dropdown-item" style="color: black!important;" href="#"><i
                                        class="icon-screen-desktop mx-2"></i>Employee Panel</a>
                                <a class="dropdown-item" style="color: black!important;" routerLink="/login-public"><i
                                        class="icon-logout mx-2"></i>Log Out</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div id="main" class="">
        <div class="card p-4 ">
            <div class="alert">
                <div class="mt-1">
                    <div class="text-center">
                        <h2>{{ 'STATICSDE' | translate }}</h2>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="d-lg-block d-none navbar-toggler">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="row" id="Statics">
                    <div class="col-sm-6 col-lg-3 ">
                        <div class="card text-white bg-info">
                            <div class="card-body ">
                                <div class="btn-group float-right">
                                    <button type="button" class="btn btn-transparent  p-0">
                              <i class="icon-user"></i>
                            </button>

                                </div>
                                <div class="text-value">9.823</div>
                                <div>{{ 'MWITHUH' | translate }}</div>
                            </div>

                        </div>
                    </div>
                    <!--/.col-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-success">
                            <div class="card-body ">
                                <button type="button" class="btn btn-transparent p-0 float-right">
                            <i class="icon-check"></i>
                          </button>
                                <div class="text-value">9.823</div>
                                <div>{{ 'MWITHUHVACC' | translate }}</div>
                            </div>

                        </div>
                    </div>
                    <!--/.col-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-warning">
                            <div class="card-body ">
                                <div class="btn-group float-right">
                                    <button type="button" class="btn btn-transparent  p-0">
                              <i class="icon-list"></i>
                            </button>


                                </div>
                                <div class="text-value">9.823</div>
                                <div>{{ 'MWITHUHBOOK' | translate }}</div>
                            </div>

                        </div>
                    </div>
                    <!--/.col-->
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white bg-danger">
                            <div class="card-body ">
                                <div class="btn-group float-right">
                                    <button type="button" class="btn btn-transparent  p-0">
                              <i class="icon-close"></i>
                            </button>

                                </div>
                                <div class="text-value">9.823</div>
                                <div>{{ 'MWITHUHREJ' | translate }}</div>
                            </div>

                        </div>
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->


            </div>
            <hr>
            <div class="container-fluid">
                <div class="card row">
                    <div class="card-body col-md-11 mx-auto">
                        <div class="row" id="searchArea">
                            <div class="col-md-6 mt-3">
                                <h4> <b>{{ 'LISTWAIT' | translate }}</b></h4>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end">
                                <form action="" method="post" class="form-inline">
                                    <div class="form-group">
                                        <label class="form-check-label mx-1" for="inlineRadio1"><b>Status:</b></label>
                                        <div class="form-check form-check-inline mx-2" id="inline-radios" id="Requseted">
                                            <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1" #Requseted (click)="filterStatus(Requseted.value)" [checked]="isRequseted" value="Requested">
                                            <label class="form-check-label" for="inlineRadio1">Requested</label>
                                        </div>
                                        <div class="form-check form-check-inline  mx-2" id="confirmed">
                                            <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2" #Confirmed (click)="filterStatus(Confirmed.value)" [checked]="isConfirmed" value="DoseTaken">
                                            <label class="form-check-label" for="inlineRadio2">Confirmed</label>
                                        </div>
                                        <input #filterBy type="email" class="form-control mx-1" placeholder="Search by Username or ID" (change)="filterBy.value?getDataByNatid(filterBy.value):getDataByNatid(filterBy.value) " autocomplete="email" required>
                                        <button type="button" (click)="searchEmpty?filterStatus(Requseted.value) : getDataByNatid(filterBy.value)" class="btn  btn-info"><i class="fa fa-search mx-2" style="color: aliceblue;"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row pt-3">
                            <table class="table table-sm table-hover">
                                <thead class="">
                                    <tr class="text-center mt-2">
                                        <th> ID</th>
                                        <th>National Number</th>
                                        <th>Full Name Arabic</th>
                                        <th>Full Name English</th>
                                        <th>Vaccine needed</th>
                                        <th>Date Booking</th>
                                        <th>Accepted Date</th>
                                        <th>Status</th>
                                        <th>Preview</th>
                                        <th>confirm</th>
                                        <th>Cancel</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of serviceReciepsData" class="text-center animated fadeIn">
                                        <td>{{data.id}}</td>
                                        <td>{{data.nationalNumber}}</td>
                                        <td>{{data.serviceRecipientNameAr}}</td>
                                        <td>{{data.serviceRecipientNameEn}}</td>
                                        <td>{{data.vaccineNameAr}}</td>
                                        <td>{{data.bookingdate | date:'mediumDate'}}</td>
                                        <td>{{data.dosedate | date:'mediumDate'}}</td>
                                        <td [class]="statusColor">{{data.status}}</td>
                                        <td><button class="btn btn-outline-info p-1 h-50" (click)="showData(data)"><i class="fa fa-address-card-o" ></i> Preview</button></td>
                                        <td><button class="btn btn-outline-success  p-1 h-50" (click)="confirmShow(data)" [disabled]="disableConfirm"><i class="fa fa-check"></i> Confirm</button></td>
                                        <td><button class="btn btn-danger  p-1 h-50"><i class="fa fa-trash" ></i> Cancel</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="d-flex align-content-end mx-auto">
                                <ul class="pagination">
                                    <li class="page-item "><a class="page-link bg-info " (click)="counterMinus()"><i class="fa fa-chevron-left"></i> Prev </a></li>
                                    <li class="page-item "><a class="page-link bg-info " (click)="counterPlus()"> Next <i class="fa fa-chevron-right"></i></a></li>

                                </ul>
                            </div>
                            <!-- <button class="btn btn-success" (click)="scrollTo('Statics')"> scrooll</button>*/-->
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--MoDAAAAAAAAAAAAAAl-->
        <div bsModal #ConfirmVaccine="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="cardUser">
                            <nav>
                                <i class="fa fa-check mx-2"></i> Confirm Vaccine Doses :

                            </nav>
                            <div class="px-5 py-2">
                                <form #formConfirm="ngForm" id="registerForma" class="container">
                                    <div class="row">
                                        <div class="col-md-12 py-0">
                                            <label for="name" class="mb-1">{{ 'Full Name' |  translate }}</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" value="{{ nameConfirm }}" placeholder="" autocomplete="Username" disabled required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">

                                            <label for="name" class="mb-1">{{ 'DOSEN' |  translate }}</label>
                                            <div class="input-group mb-2">
                                                <select class="form-control p-1" name="vaccineid" #vaccineid="ngModel" [(ngModel)]="service.bookingDetails.vaccineid" autocomplete="new-password" required>
                                                   
                                                    <option *ngFor="let vaccine of vaccinesData" value="{{ vaccine.id }}">{{ vaccine.nameen }}</option>
                                         
                                                </select>
                                            </div>

                                            <label class="mb-1">{{ 'Dose Date' | translate }}</label>

                                            <div class="input-group">
                                                <input type="date" class="form-control" name="dosedate" #dosedate="ngModel" [(ngModel)]="service.bookingDetails.dosedate" autocomplete="username" required>
                                                <input type="time" class="form-control" name="dosehour" #dosehour (change)="getHours(dosehour.value)" id="appt" min="09:00" max="18:00" required>

                                            </div>
                                        </div>

                                        <div class="col-md-6">

                                            <label for="name" class="mb-1">{{ 'DOSET' |  translate }}</label>
                                            <div class="input-group mb-2">
                                                <select class="form-control p-1" name="dosenumber" #dosenumber="ngModel" [(ngModel)]="service.bookingDetails.dosenumber" autocomplete="new-password" required>
                                                
                                                    <option value="1">Dose 1</option>
                                                    <option value="2">Dose 2</option>
                                                </select>
                                            </div>

                                            <label for="name" class="mb-1">{{ 'Batch Number' |  translate }}</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" name="batchnumber" #batchnumber="ngModel" [(ngModel)]="service.bookingDetails.batchnumber" placeholder="" autocomplete="Username" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-3">

                                        <div class="col-md-12">
                                            <div class="row mx-auto">
                                                <button type="button" class="btn btn-danger col-sm-5 mx-auto" (click)="ConfirmVaccine.hide()"><i class="fa fa-close mr-3"></i>{{ 'Close' | translate }}</button>
                                                <button type="button" (click)="confirmVaccineDose(formConfirm)" class="btn btn-success col-sm-5 mx-auto" [disabled]="formConfirm.invalid">{{ 'Confirm' |
                                                    translate }}<i class="fa fa-check ml-3"></i></button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <div bsModal #PreviewData="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="cardUser" *ngFor="let deatils of datalist">
                            <nav>

                                Preview Data :

                            </nav>
                            <div class="photo text-left">
                                <h2><i class="fa fa-time"></i> Created On: </h2>
                                <h2><i class="fa fa-user"></i> Created By: </h2>
                            </div>
                            <div class="description">
                                <h2><i class="fa fa-user"></i> </h2>
                                <h4>Name Arabic : </h4>
                                <h4>Departments : </h4>
                                <p> Unit : </p>
                                <button (click)="PreviewUser.hide()">Close</button>
                                <button>login Details</button>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>