<div class=".container-fluid mx-3 animated fadeIn">
    <div id="header">
        <div class="d-flex justify-content-center"> <img class="w-50 mx-auto"
                src="https://fmoh.gov.sd/assets/img/header.png" alt="">
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <nav class="navbar navbar-expand-md navbar-light bg-none ">

                <button class="navbar-toggler" type="button" aria-controls="navbarContent"
                    [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item active">
                            <a class="nav-link" href="#"><i class="icon-map mx-2"></i>Center <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown" dropdown>
                            <a id="link-dropdown" class="nav-link dropdown-toggle" href dropdownToggle (click)="false"
                                aria-controls="your-dropdown"><i class="icon-user mx-2"></i> User Name
                            </a>
                            <div id="your-dropdown" class="dropdown-menu animated fadeIn"
                                aria-labelledby="link-dropdown" *dropdownMenu>
                                <a class="dropdown-item" style="color: black!important;" href="#"><i
                                        class="icon-screen-desktop mx-2"></i>Employee Panel</a>
                                <a class="dropdown-item" style="color: black!important;" href="#"><i
                                        class="icon-logout mx-2"></i>Log Out</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div id="main" class="mt-3">
        <div class="card   p-4 ">
            <div class="alert alert-info">
                <div class="row mt-1">
                    <div class="col-md-9 mt-1">
                        <p><b>Regisertation Form</b></p>
                    </div>
                    <hr>
                    <div class="col-md-3 d-flex justify-content-end">
                        <button type="button" class="d-lg-block d-none navbar-toggler">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-md-6">
                        <p> <b>Number of Registration Today :
                                <span class="badge badge-danger badge-pill">136</span></b>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-1">
                <div class="col-md-6">
                    <p> <b> Registration Data</b></p>
                </div>
                <div class="col-md-6 d-flex justify-content-end">
                    <form action="" method="post" class="form-inline">
                        <div class="form-group">
                            <label class="" for="if-email">Search by National ID or Book Code : </label>
                            <input type="email" id="if-email" name="if-email" class="form-control" placeholder="Search"
                                autocomplete="email">
                        </div>

                    </form>
                </div>
            </div>
            <div class="row m-2">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Date registered</th>
                            <th>Role</th>
                            <th>Confirm</th>
                            <th>Edit</th>
                            <th>Preview</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Carwyn Fachtna</td>
                            <td>2012/01/01</td>
                            <td>Member</td>
                            <td>
                                <span class="badge badge-success">Confirm</span>
                            </td>
                            <td>
                                <span class="badge badge-Secondary">Edit</span>
                            </td>
                            <td>
                                <span class="badge badge-info">Preview</span>
                            </td>
                            <td>
                                <span class="badge badge-danger">Delete</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Nehemiah Tatius</td>
                            <td>2012/02/01</td>
                            <td>Staff</td>
                            <td>
                                <span class="badge badge-success">Confirm</span>
                            </td>
                            <td>
                                <span class="badge badge-Secondary">Edit</span>
                            </td>
                            <td>
                                <span class="badge badge-info">Preview</span>
                            </td>
                            <td>
                                <span class="badge badge-danger">Delete</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Ebbe Gemariah</td>
                            <td>2012/02/01</td>
                            <td>Admin</td>
                            <td>
                                <span class="badge badge-success">Confirm</span>
                            </td>
                            <td>
                                <span class="badge badge-Secondary">Edit</span>
                            </td>
                            <td>
                                <span class="badge badge-info">Preview</span>
                            </td>
                            <td>
                                <span class="badge badge-danger">Delete</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Eustorgios Amulius</td>
                            <td>2012/03/01</td>
                            <td>Member</td>
                            <td>
                                <span class="badge badge-success">Confirm</span>
                            </td>
                            <td>
                                <span class="badge badge-Secondary">Edit</span>
                            </td>
                            <td>
                                <span class="badge badge-info">Preview</span>
                            </td>
                            <td>
                                <span class="badge badge-danger">Delete</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Leopold Gáspár</td>
                            <td>2012/01/21</td>
                            <td>Staff</td>
                            <td>
                                <span class="badge badge-success">Confirm</span>
                            </td>
                            <td>
                                <span class="badge badge-Secondary">Edit</span>
                            </td>
                            <td>
                                <span class="badge badge-info">Preview</span>
                            </td>
                            <td>
                                <span class="badge badge-danger">Delete</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>