<style>
    .page-item:hover {
        cursor: pointer;
    }
    
    .app-body {
        margin: 0px;
    }
</style>
<div class="app-body animated fadeIn ">
    <main class="d-block align-items-center container">
        <div class="card " id="RegistryForma">
            <div class="card-header">
                <strong><i class="icon-plus"></i>{{ 'ADDNEWSTATE' | translate }}</strong>
              
            </div>
            <div class="card-body">
                <form #formState="ngForm">

                    <div class="row">

                        <div class="col-md-4">
                            <label for="name" class="mx-1">{{ 'NAMEARABIC' | translate }}</label>
                            <input type="text" name="id" class="form-control" placeholder="ID" #id="ngModel" [(ngModel)]="service.statesData.id" autocomplete="username" hidden required>
                            <div class="input-group mb-3">
                                <input type="text" name="name" class="form-control"  #name="ngModel" [(ngModel)]="service.statesData.name" autocomplete="off" required>
                            </div>
                        </div>
                        <!--  <div class="input-group mb-2">

                                <select class="form-control p-1" name="localityid" autocomplete="new-password" #localityid="ngModel" [(ngModel)]="service.citiesData.localityid" required>
                                        <option value="" selected disabled>{{ 'LOCALAREA' |
                                            translate }}</option>
                                            <option *ngFor="let locality of localitiesData" value="{{ locality.id }}">{{ locality.nameen }}</option>
                                    </select>
                            </div>
                            -->



                        <div class="col-md-4">
                            <label for="name" class="mx-1">{{ 'NAMEENGLIAH' | translate }}</label>

                            <div class="input-group mb-3">
                                <input type="text" name="nameen" class="form-control"  autocomplete="off" #nameen="ngModel" [(ngModel)]="service.statesData.nameen" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="name" class="mx-1"> </label>

                            <div class="input-group mt-1">
                                <div class="col-md-6">
                                    <button type="button" (click)="resetForm(formState)" class="btn btn-block btn-outline-info">{{Reset}}</button>

                                </div>
                                <div class="col-md-6">
                                    <button type="button" (click)="onSaveState(formState)" class="btn btn-block btn-success">{{submitt}}</button>

                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <hr  class="my-0">
            <div class="card-body">
                <div class="mx-3">
                    <h4> <b class="mx-2"><i class="icon-notebook mx-2"></i>{{ 'ALLDETAILS' | translate }}</b><button type="button" (click)="ShowAll()" class="btn btn-ghost-info">{{ 'SHOWALL' | translate }}<i class="icon-refresh mx-2"></i></button>
                    </h4>
                    <table class="table table-sm table-hover">
                        <thead class="">
                            <tr class="text-center mt-2">
                                <th>#</th>
                                <th>{{ 'NAMEENGLIAH' | translate }}</th>
                                <th>{{ 'NAMEARABIC' | translate }}</th>
                              
                                <th>{{ 'UPDATE' | translate }}</th>
                                <th>{{ 'DELETE' | translate }}</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let State of statesData" class="text-center animated fadeIn">
                                <td>{{State.id}}</td>
                                <td>{{State.nameen}}</td>
                                <td>{{State.name}}</td>
                                <td><button class="btn btn-success  p-1 h-50" (click)="fillForm(State)"><i class="fa fa-pencil-square"></i> Update</button></td>
                                <td><button class="btn btn-danger  p-1 h-50" (click)="onDelete(State.id)"><i class="fa fa-trash" ></i> Delete</button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>


    </main>

</div>
<div bsModal #successModal="bs-modal" id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #confirmRegisterModal>
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure ?</h4>

            </div>
            <div class="modal-body">
                <p>{{ 'REGISTUSERNAME' | translate }} : </p>
                <p>{{ 'REGISTNATID' | translate }} : </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ml-2" (click)="successModal.hide()">No</button>
                <button type="button" class="btn btn-success">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /.Preview modal -->
<div bsModal #PreviewUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="cardUser">
                    <nav>

                        Active

                    </nav>
                    <div class="photo text-left">
                        <h2><i class="fa fa-time"></i> Created On:</h2>
                        <h2><i class="fa fa-user"></i> Created By: </h2>
                    </div>
                    <div class="description">
                        <h2><i class="fa fa-user"></i> </h2>
                        <h4>Name Arabic :</h4>
                        <h4>Departments : </h4>
                        <p> Unit : </p>
                        <button (click)="PreviewUser.hide()">Close</button>
                        <button>login Details</button>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->