<style>
    .page-item:hover {
        cursor: pointer;
    }
    
    .app-body {
        margin: 0px;
    }
</style>
<div class="app-body animated fadeIn ">
    <main class="d-block align-items-center container">
        <div class="card row" id="RegistryForma">
            <div class="card-header">
                <strong><i class="icon-plus"></i> Add new Vaccine</strong>
                <div class="card-header-actions">
                    <a href="https://valor-software.com/ngx-bootstrap/#/alerts" target="_blank">
                        <small className="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-body col-md-12 mx-auto">
                <form #formVaccine="ngForm" class="container">

                    <div class="row">

                        <div class="col-md-3">
                            <label for="name" class="mx-1">ID</label>
                            <div class="input-group ">
                                <input type="text" name="id" class="form-control" placeholder="ID" #id="ngModel" [(ngModel)]="service.VaccinesData.id" autocomplete="username" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Vaccine Name Arabic</label>
                            <div class="input-group ">

                                <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="service.VaccinesData.name" autocomplete="username" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Vaccine Name English</label>
                            <div class="input-group ">
                                <input type="text" name="nameen" class="form-control" autocomplete="" #nameen="ngModel" [(ngModel)]="service.VaccinesData.nameen" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Sientific Name</label>

                            <div class="input-group ">
                                <input type="text" name="scientificname" class="form-control" autocomplete="" #scientificname="ngModel" [(ngModel)]="service.VaccinesData.scientificname" required>
                            </div>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <label for="name" class="mx-1">Manufacturing Country</label>
                            <div class="input-group ">
                                <input type="text" name="manufacturingcountry" class="form-control" #manufacturingcountry="ngModel" [(ngModel)]="service.VaccinesData.manufacturingcountry" autocomplete="username" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Number Of Doses</label>
                            <div class="input-group ">

                                <select class="form-control p-1" name="numberofdoses" autocomplete="new-password" #numberofdoses="ngModel" [(ngModel)]="service.VaccinesData.numberofdoses" required>
                                    <option value="1" selected>1 </option>
                                    <option value="2">2</option>
                               
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="name" class="mx-1">Miniumum Period Dose Days</label>

                            <div class="input-group ">

                                <input type="number" name="miniumumperioddosedays" class="form-control" autocomplete="" #miniumumperioddosedays="ngModel" [(ngModel)]="service.VaccinesData.miniumumperioddosedays" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Maxiumum Period Dose Days</label>

                            <div class="input-group ">

                                <input type="number" name="maxiumumperioddosedays" class="form-control" autocomplete="" #maxiumumperioddosedays="ngModel" [(ngModel)]="service.VaccinesData.maxiumumperioddosedays" required>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <label for="name" class="mx-1">Minimum Temprature</label>
                            <div class="input-group ">
                                <input type="text" name="minimumtemprature" class="form-control" #minimumtemprature="ngModel" [(ngModel)]="service.VaccinesData.minimumtemprature" autocomplete="username" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Maximum Temprature</label>
                            <div class="input-group ">
                                <input type="text" name="maximumtemprature" class="form-control" #maximumtemprature="ngModel" [(ngModel)]="service.VaccinesData.maximumtemprature" autocomplete="username" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Minimum Age</label>
                            <div class="input-group ">

                                <input type="number" name="minimumage" class="form-control" autocomplete="" #minimumage="ngModel" [(ngModel)]="service.VaccinesData.minimumage" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Maximum Age</label>

                            <div class="input-group ">

                                <input type="number" name="maximumage" class="form-control" autocomplete="" #maximumage="ngModel" [(ngModel)]="service.VaccinesData.maximumage" required>
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-md-3">
                            <label for="name" class="mx-1">Valid Type Period Determine</label>
                            <div class="input-group ">
                                <input type="text" name="validityperioddetermine" class="form-control" #validityperioddetermine="ngModel" [(ngModel)]="service.VaccinesData.validityperioddetermine" autocomplete="username" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Valid Type Period </label>
                            <div class="input-group ">
                                <input type="text" name="validityperiod" class="form-control" #validityperiod="ngModel" [(ngModel)]="service.VaccinesData.validityperiod" autocomplete="username" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Instructions</label>
                            <div class="input-group ">

                                <input type="text" name="instructions" class="form-control" autocomplete="" #instructions="ngModel" [(ngModel)]="service.VaccinesData.instructions" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Side Effect</label>

                            <div class="input-group ">

                                <input type="text" name="sideeffect" class="form-control" autocomplete="" #sideeffect="ngModel" [(ngModel)]="service.VaccinesData.sideeffect" required>
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-md-6 ">
                            <label for="name" class="">Disease Prohibit</label>
                            <div class="input-group">
                                <input type="text" name="diseaseprohibit" class="form-control" #diseaseprohibit="ngModel" [(ngModel)]="service.VaccinesData.diseaseprohibit" autocomplete="username" required>
                            </div>
                        </div>

                        <div class="col-md-3 ">
                            <label for="name" class="" style="color: aliceblue;">---</label>
                            <div class="input-group ">

                                <button type="button" (click)="resetForm(formVaccine)" class="btn btn-block btn-outline-info">{{Reset}} </button>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <label for="name" class="">--</label>
                            <div class="input-group ">

                                <button type="button" (click)="onSaveVaccine(formVaccine)" class="btn btn-block btn-success">{{submitt}}</button>
                            </div>
                        </div>


                    </div>


                </form>
            </div>
            <hr>
            <div class="card-body p-0 ">
                <div class="row m-2">
                    <h4> <b class="mx-2"><i class="icon-notebook mx-2"></i>  All Vaccines Details</b><button type="button" (click)="ShowAll()" class="btn btn-ghost-info">Show All<i class="icon-refresh mx-2"></i></button>
                    </h4>
                    <table class="table table-sm table-bordered">
                        <thead class="bg-info  ">
                            <tr class="text-center mt-2">
                                <th>Vaccine ID</th>
                                <th>name Arabic</th>
                                <th>name English</th>
                                <th>Preview</th>
                                <th>Update</th>
                                <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let Vaccine of VaccinesData" class="text-center animated fadeIn">
                                <td>{{Vaccine.id}}</td>
                                <td>{{Vaccine.nameen}}</td>
                                <td>{{Vaccine.name}}</td>
                                <td><button class="btn btn-outline-info p-1 h-50" (click)="showData(Vaccine)"><i class="fa fa-address-card-o" ></i> Preview</button></td>
                                <td><button class="btn btn-success  p-1 h-50" (click)="fillForm(Vaccine)"><i class="fa fa-pencil-square"></i> Update</button></td>
                                <td><button class="btn btn-danger  p-1 h-50" (click)="onDelete(Vaccine.id)"><i class="fa fa-trash" ></i> Delete</button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>


    </main>

</div>
<div bsModal #successModal="bs-modal" id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #confirmRegisterModal>
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure ?</h4>

            </div>
            <div class="modal-body">
                <p>{{ 'REGISTUSERNAME' | translate }} : </p>
                <p>{{ 'REGISTNATID' | translate }} : </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ml-2" (click)="successModal.hide()">No</button>
                <button type="button" class="btn btn-success">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /.Preview modal -->
<div bsModal #PreviewUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="cardUser">
                    <nav>

                        Active

                    </nav>
                    <div class="photo text-left">
                        <h2><i class="fa fa-time"></i> Created On:</h2>
                        <h2><i class="fa fa-user"></i> Created By: </h2>
                    </div>
                    <div class="description">
                        <h2><i class="fa fa-user"></i> </h2>
                        <h4>Name Arabic :</h4>
                        <h4>Departments : </h4>
                        <p> Vaccine : </p>
                        <button (click)="PreviewUser.hide()">Close</button>
                        <button>login Details</button>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->