<style>
    .page-item:hover {
        cursor: pointer;
    }
    
    .app-body {
        margin: 0px;
    }
</style>
<div class="app-body animated fadeIn">
    <main class="d-block align-items-center container">
        <div class="card row" id="RegistryForma">
            <div class="card-header">
                <strong><i class="icon-plus"></i>New Vaccines Distribution</strong>
                <div class="card-header-actions">
                    <a href="https://valor-software.com/ngx-bootstrap/#/alerts" target="_blank">
                        <small className="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-body col-md-12 mx-auto">
                <form #formVaccinesDist="ngForm" class="container">

                    <div class="row">

                        <div class="col-md-3">

                            <div class="input-group mb-3">

                                <input type="text" name="id" class="form-control" placeholder="ID" #id="ngModel" [(ngModel)]="service1.VaccinesDistData.id" autocomplete="username" hidden required>
                                <label for="name" class="mx-1">{{ 'VACCINES' | translate }} </label>

                                <div class="input-group mb-1">
                                    <select class="form-control p-1" name="vaccineid" autocomplete="new-password" #vaccineid="ngModel" [(ngModel)]="service1.VaccinesDistData.vaccineid" required>
                                            <option *ngFor="let vaccine of vaccinesData" value="{{ vaccine.id }}">{{ vaccine.nameen }}</option>
                                        </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="name" class="mx-1">Batch Number</label>
                            <div class="input-group mb-3">
                                <input type="text" name="batchnumber" class="form-control" autocomplete="" #batchnumber="ngModel" [(ngModel)]="service1.VaccinesDistData.batchnumber" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Quantity</label>
                            <div class="input-group mb-3">
                                <input type="text" name="quantity" class="form-control" autocomplete="" #quantity="ngModel" [(ngModel)]="service1.VaccinesDistData.quantity" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1">Place Ditrbute</label>
                            <div class="input-group mb-3">
                                <input type="text" name="distributeplace" class="form-control" autocomplete="" #distributeplace="ngModel" [(ngModel)]="service1.VaccinesDistData.distributeplace" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                        <div class="col-md-3">
                            <label for="name" class="mx-1 mb-1">{{ 'STATE' | translate }} </label>
                            <div class="input-group mb-1">
                                <select class="form-control p-1" autocomplete="new-password" #stateid (click)="getCitiesByState(stateid.value)" required>
                                        <option *ngFor="let state of statesData" value="{{ state.id }}">{{ state.nameen }}</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mb-1">{{ 'CITIES' |  translate }}</label>
                            <div class="input-group mb-2">
                                <select class="form-control p-1" #Cities autocomplete="new-password" (click)="getLocalBycity(Cities.value)" required>
                                        <option *ngFor="let city of citiesData" value="{{ city.id }}">{{ city.nameen }}</option>
                                    </select>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mb-1">{{ 'LOCALAREA' |  translate }}</label>
                            <div class="input-group ">
                                <select class="form-control p-1" #Locals autocomplete="new-password" (click)="getUnitByLocal(Locals.value)" required>
                                            <option *ngFor="let Locality of localitiesData" value="{{ Locality.id }}">{{ Locality.nameen }}</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="name" class="mx-1 mb-1">{{ 'Health Unit' | translate }} </label>
                            <div class="input-group mb-1">
                                <select class="form-control p-1" name="healthunitid" autocomplete="new-password" #healthunitid="ngModel" [(ngModel)]="service1.VaccinesDistData.healthunitid" required>
                                        <option *ngFor="let healthunitid of healthunitidsData" value="{{ healthunitid.id }}">{{ healthunitid.nameen }}</option>
                                    </select>
                            </div>
                            <div class="input-group">
                                <div class="col-md-6">
                                    <button type="button" (click)="resetForm(formVaccinesDist)" class="btn btn-block btn-outline-info">{{Reset}}</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" (click)="onSaveVaccinesDist(formVaccinesDist)" class="btn btn-block btn-success">{{submitt}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body p-0">
                <div class="col-md-12 m-0">
                    <table class="table table-sm table-bordered">
                        <thead class="bg-info">
                            <tr class="text-center mt-2">
                                <th>ID</th>
                                <th>Vaccine </th>
                                <th>Batch Number</th>
                                <th>Quantity </th>
                                <th>Distribut Place </th>
                                <th>Update</th>
                                <th>Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let VaccinesDist of VaccinesDistData" class="text-center animated fadeIn">
                                <td>{{VaccinesDist.id}}</td>
                                <td>{{VaccinesDist.vaccineid}}</td>
                                <td>{{VaccinesDist.batchnumber}}</td>
                                <td>{{VaccinesDist.quantity}}</td>
                                <td>{{VaccinesDist.distributeplace}}</td>
                                <td><button class="btn btn-success p-1 h-50" (click)="fillForm(VaccinesDist)"><i class="fa fa-pencil-square"></i> Update</button></td>
                                <td><button class="btn btn-danger p-1 h-50" (click)="onDelete(VaccinesDist.id)"><i class="fa fa-trash" ></i> Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<div bsModal #successModal="bs-modal" id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" #confirmRegisterModal>
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure ?</h4>

            </div>
            <div class="modal-body">
                <p>{{ 'REGISTUSERNAME' | translate }} : </p>
                <p>{{ 'REGISTNATID' | translate }} : </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ml-2" (click)="successModal.hide()">No</button>
                <button type="button" class="btn btn-success">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /.Preview modal -->
<div bsModal #PreviewUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="cardUser">
                    <nav>

                        Active

                    </nav>
                    <div class="photo text-left">
                        <h2><i class="fa fa-time"></i> Created On:</h2>
                        <h2><i class="fa fa-user"></i> Created By: </h2>
                    </div>
                    <div class="description">
                        <h2><i class="fa fa-user"></i> </h2>
                        <h4>Name Arabic :</h4>
                        <h4>Departments : </h4>
                        <p> Unit : </p>
                        <button (click)="PreviewUser.hide()">Close</button>
                        <button>login Details</button>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->